<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
 	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Employee Directory</title>

</head>

<body>
<div class="container">
	<h3>Recipe Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/recipes/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Recipe
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Recipe Name</th>
				<th>Meal Type</th>
				<th>Category</th>
				<th>Ingredients</th>
				<th>Preparation</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempRecipe : ${recipes}">
			
				<td th:text="${tempRecipe.recipeName}"/>
				<td th:text="${tempRecipe.mealTypeId}"/>
				<td th:text="${tempRecipe.categoryId}"/>
				<td th:text="${tempRecipe.ingredientId}"/>
				<td th:text="${tempRecipe.preparing}"/>
				
				<!-- Add "update" button/link -->
				<td>
					<a th:href="@{/recipes/showFormForUpdate(recipeId=${tempRecipe.id})}"
						class="btn btn-info btn-sm">
					Update
					</a>
				
				<!-- Add "delete" button/link -->
					<a th:href="@{/recipes/delete(recipeId=${tempRecipe.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you wat to delete this recipe?'))) return false">
					Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>


</html>