<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
 	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Save Recipe</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Recipe Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Recipe</p>
		
		<form action="#" th:action="@{/recipes/save}" th:object="${recipe}" method="POST">
						
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{recipeName}"
					class="form-control mb-3 col-4" placeholder="Recipe name">
			<input type="text" th:field="*{mealTypeId}"
					class="form-control mb-3 col-4" placeholder="Meal type">
			<input type="text" th:field="*{categoryId}"
					class="form-control mb-3 col-4" placeholder="Category">
			<input type="text" th:field="*{ingredientId}"
					class="form-control mb-3 col-4" placeholder="Ingredients">
			<input type="text" th:field="*{preparing}"
					class="form-control mb-3 col-4" placeholder="Preparation">
			
			<select class="form-control" id="testOrder" name="testOrder">
		        <option th:each="recipe : ${mealTypeList}"
	                th:value="${recipe.id}"
	                th:text="${recipe.name}"></option>
	  		  </select> 
			<br>
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		
	</div>
	
	 

    
</div>

</body>

</html>